In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

df = pd.read_csv("Car_sales_cleaned.csv")
df.head()

,Manufacturer,Model,Sales (Thousands),Year Resale Value,Vehicle Type,Price (Thousands),Engine Size,Horsepower,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Fuel Efficiency,Latest Launch,Power Performance Factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2/2/12,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6/3/11,91.370778
2,Acura,CL,14.114,18.225,Passenger,24.95,3.2,225,106.9,70.6,192.0,3.470,17.2,26,1/4/12,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22,3/10/11,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27,10/8/11,62.777639